<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
   <div class="left">
			<h3>导航菜单</h3>
			<ul class="shop">
				<li class="t">
					<p>
						<i class="iconfont icon-wenjian"></i>
						<span>商品管理</span>
						<b>+</b>
					</p>
					<ul class="sg sg1">
						<li onclick="refresh()">商品列表</li>
						<li>添加新商品</li>
						<li>商品分类</li>
						<li>用户评价</li>
						<li>商品类型</li>
						<li>商品品牌</li>
					</ul>
				</li>

				<li class="t">
					<p>
						<i class="iconfont icon-dibudaohanglan_xiaoren_tiaozhuangerenzhongxin"></i>
						<span>促销管理</span>
						<b>+</b>
					</p>
					<ul class="sg">
						<li>商品品牌</li>
						<li>商品品牌</li>
						<li>商品品牌</li>
						<li>商品品牌</li>
						<li>商品品牌</li>
						<li>商品品牌</li>
					</ul>
				</li>

			</ul>
		</div>
  </body>
</html>

