<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_535025_6pufltvv90yvte29.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css"/>
  </head>
  <body>
    <div class="login">
    	<h1>BOSS商城管理系统</h1>
    	<div class="con">
    		<div class="top">
    			<p><i class="iconfont icon-xiaoren"></i><input type="text" id="username" maxlength="11" placeholder="管理员账号" /></p>
    			<p><i class="iconfont icon-suo"></i><input type="password" id="psw" placeholder="密码"  maxlength="6"/></p>
    			<p>
    				<i class="iconfont icon-dunpaisuo"></i>
    				<input type="text" id="yzm" placeholder="验证码" maxlength="4"/>
    				<span class="yzm" onclick="yzm()" ></span>
    			</p>
    		</div>
    			<p class="btn" onclick="login()">登录</p>
    			<div class="btm">
    				<p>
    					<input type="checkbox" />
    					<span>保存登录信息</span>
    				</p>
    				<span class="mi">忘记密码?</span>
    				<p>去店铺首页>></p>
    			</div>
    			
    	</div>
    </div>
  </body>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  	yzm()
  	function login(){
  		var yzm1 = $("#yzm").val()
  		var yzm2 = $(".yzm").html()
  		if(yzm1 === yzm2){
  			$.ajax({
  			type:"post",
  			url:"/api/login",
  			data:{
  				username:$("#username").val(),
  				psw:$("#psw").val()
  			},
  			success:function(res){
  				alert(res.message)
  				if(res.code == 1){
  					window.location.href = "/shop"
  				}
  			}
  		});
  		}else{
  			alert("请输入正确登录信息")
  		}
  		
  	};
    
  	function yzm(){
	  	var code =""
    var codeLength = 4;
    var arr =[0,1,2,3,4,5,6,7,8,9,'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
  	for(var i = 0;i<codeLength;i++){
  		var index = Math.floor(Math.random()*36);
  		code += arr[index]
  	}
  	$(".top .yzm").html(code)
  	}
  
  </script>
</html>
